.flash-box
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name aabb
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            = link_to 
            %i.fa.fa-edit
          %li.side-header__box__menu__new-group
            = link_to 
            %i.fa.fa-cog
    .groups
      = link_to 
      .group
        %p.group__group-name aaa
        %p.group__latest-message sss
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "12"}
          aaa
        %ul.main-header__left-box__member-list
          Member：aabb
      .main-header__edit-btn Edit
    .messages
      .message{"data-message_id" => ""}
        .message__upper-info
          %p.message__upper-info__talker aabb
          %p.message__upper-info__data 2019/09/07(Sat) 15:30:34
        %p.message__text sss
    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/12/messages", :enctype => "multipart/form-data", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✔"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => ""}/
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/